body{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}
.jumbotron{
    width: 60%;
    height: 50%;
    margin-left: 250px;
}
.thumbnail img{
    width:120px;
    height: 300px;
    padding: 0px;
}
.thumbnail{
    padding: 0px;
}
.caption p{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.caption button:hover{
    /* margin-left: 40%; */
    background-color: darkgoldenrod;
    color: white;
}
.caption button{
    background-color: white;
    border: 1px solid gray;
}

.thumbnail .caption{
    padding: 0px;
}
.caption button{

    color: black;
    text-align: center;
}
.container{
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 30px;
    
}
.caption h5{
    text-align: center;
}
.imgoption{
    position: relative;
}
.disabledSelect{
    position: absolute;
    top:12px;
    padding: 0px;
    z-index: 9999;
    width: auto;
    right: 17%;
    height: 6%;

}
.heart{
    position: absolute;
    right: 7%;
    top:11%;
    z-index: 9999999;
    width: auto;
}
.heart i{
    color: darkgoldenrod;
}
.third{
    position: absolute;
    right: 7%;
    top:12px;
    z-index: 9999999;
    width: auto;
}
.third i{
    color: darkgoldenrod;
}
.first{
    position: absolute;
    right: 7%;
    top:19%;
    z-index: 9999999;
    width: auto;

}
.first i{
    color: darkgoldenrod;
}
.disabledSelect option{
    font-size: 20px;
}
.imgout{
    background-color:black;
    display: table;
    height: 500px;
}
.bgcolor{
    display: table-cell;
    vertical-align: middle;
}